<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title Page</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <legend style="text-align: center;">欢迎来到主页</legend>
        <form action="/logout" method="POST" role="form">
            <button type="submit" class="btn btn-primary">退出</button>
        </form>
        <div class=" col-md-6">
            <a href="#" class="thumbnail">
                <img data-src="#" alt="">
            </a>

            <a href="" class="thumbnail"><img src="../static/img/index_1.jpg" alt=""></a>
            <a href="" class="thumbnail"><img src="../static/img/index_2.jpg" alt=""></a>
            <a href="" class="thumbnail"><img src="../static/img/index_3.jpg" alt=""></a>
            <a href="" class="thumbnail"><img src="../static/img/index_4.jpg" alt=""></a>
            <a href="" class="thumbnail"><img src="../static/img/index_5.jpg" alt=""></a>
            <a href="" class="thumbnail"><img src="../static/img/index_6.jpg" alt=""></a>
            <a href="" class="thumbnail"><img src="../static/img/index_7.jpg" alt=""></a>
            <a href="" class="thumbnail"><img src="../static/img/index_8.jpg" alt=""></a>
            <a href="" class="thumbnail"><img src="../static/img/index_9.jpg" alt=""></a>
            <a href="" class="thumbnail"><img src="../static/img/index_10.jpg" alt=""></a>
        </div>


    </div>
</body>

</html>